#yellow {
    color: rgba(255, 0, 0, 0.717);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;

body {
    background-color: rgb(255, 120, 58)
  }

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.overlay_black{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #376f24;

}

.essay{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.big{
    font-size: 100;

}

.text_cen{
    text-align: center;
}
