#yellow {
    color: rgba(255, 0, 0, 0.717);
}

body {
    background-color: rgb(255, 120, 58)
  }

body {
    background-color: rgb(255, 120, 58)
  }

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.overlay_black{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #376f24;

}

.essay{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.big{
    font-size: 100;

.right{
    text-align: right;
    }

}

.text_cen{
    text-align: center;
}

.dotted{
    border-style: solid;
    border-color: red;
}

.border{
    display: block;
    margin-left: auto;
    margin-right: auto;   
    border: 100px solid black;
    width: 60%;
    height: 60%;
    padding: 5px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-image: url(pumpkin_border.png) 33% repeat;
}

img {
  border: 10px linear-gradient(red, yellow);w;
}
